.button {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    font-size: 24px;
}

.button:active {
    color: gray;
    border: 2px solid gray;
}


.div {
    margin-left: 100px;
}