.cardBar {
    display: grid;
    position: absolute;
    top: 80px;
    z-index: 0;

    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: auto;
    grid-gap: 5px;

    justify-content: center;

    width: 100%;
    height: fit-content;
}

.ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding-left: 10px;
}

.ul li {
    font-size: 20px;
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cardBar {
        grid-template-columns: 22% 22% 22% 22%;
        grid-gap: 5px;
    }

    .ul {
        padding-left: 5px;
    }

    .ul li {
        font-size: 16px;
        margin-top: 5px;
    }
}